@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+3&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 6px;
  color: #007bfc;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-thumb {
  background: #007bfc;
  border-radius: 4px;
  width: 6px;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-track {
  background: #101010;
  width: 6px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #5e7290;
  overflow-x: hidden;
}
/****************************************navbar start****************************************/
.logo {
  position: absolute;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 3px;
  font-weight: 500;
}

.navbar-container {
  background-color: #0d1e67;
  color: #fff;
  top: 0;
  z-index: 999;
  position: fixed;
  /* transition: all 1s !important; */
  height: 65px;
}
.navbar-container.active {
  background-color: #0d1e67;
  color: #fff;
  top: 0;
  z-index: 999;
  position: fixed;
  height: 65px;
  /* transition: all 1s !important; */
  animation: hideout 0.6s linear;
  overflow-y: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@keyframes hideout {
  /* 0% {
    height: 0px;
  }
  10% {
    height: 10px;
  }
  30% {
    height: 20px;
  }
  40% {
    height: 30px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 65px;
  } */
  0% {
    transform: translatey(-100px);
  }
  100% {
    transform: translatey(0px);
  }
}
.main-navbar-section {
  padding: 10px 150px;
  justify-content: center;
}
.left-img img {
  width: 50px;
}
.right-section {
  position: relative;
}
.right-section ul {
  cursor: pointer;
  display: flex;
  padding-top: 5px;
  padding-left: 35px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.right-section ul li {
  margin-left: 30px;
  list-style-type: none;
  text-decoration: none;
}
.right-section ul li:hover {
  color: #007bfc;
  transition: all 0.5s;
}
.right-section ul li .nav-menu {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.right-section ul li .nav-menu:hover {
  color: #007bfc;
  transition: all 0.5s;
}
.login-li {
  display: flex;
  justify-content: space-between;
}
.btn {
  margin-right: 20px;
  width: 100px;
}
.submit-button:hover {
  background-color: #fff !important;
  color: black !important;
}
.img222 {
  height: 600px;
}
.drop-downcontainer {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  display: none;
}
.drop-down-info {
  position: fixed;
  left: 62%;
  top: 60px;
  width: 100px;
  z-index: 9;
  background-color: #f1f1f1;
  /* min-width: 120px; */
  box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.09);
  min-width: 14rem;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  animation: dropup 0.7s ease-in-out;
}

@keyframes dropup {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }

  /* 0% { 
        opacity: 0display: block;
      
      }
    
      100% {
        opacity: 1
      
      } */
}
.drop-down-info a:hover {
  background-color: #0d6efd;
  color: #fff;
  transition: 1s;
}
.our-service-dropdown:hover .drop-downcontainer {
  display: block;
  transition: 1s;
}
.drop-down-info a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* border-bottom: 1px solid #0d6efd; */
}
/*********************************sidenav start*******************************/
.burger-icon-svg {
  position: absolute;
  left: 87%;
  border: 1px solid #0d1e67;
}
.burger-icon-svg :hover {
  border: none;
  background-color: rgb(54, 57, 61);
  transition: 0.5s;
}
.side-nav-main-container button {
  position: fixed;
  height: 50px;
  background-color: #0d1e67;
  width: 100%;
  z-index: 990;
  align-items: center;
  margin: 0;
  overflow-y: hidden;
}
.class-for-radio {
  display: none;
  width: 180px;
  background: #fff;
  color: #000;
  transition: 0.5s;
  margin: 10px 5px;
  border-radius: 6px;
  padding: 5px 18px;
}
.class-for-radio.displayprop {
  display: block;
  width: 160px;
  background: #007bfc;
  color: #0d1e67;
  transition: 0.5s;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0;
  display: block;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.side-navbar-contents {
  display: none;
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 992;
  background-color: #151d95;
  color: #ebebeb;
  transform: translatex(300px);
  transition: 0.5s ease-in;
}
.side-navbar-contents.active {
  display: none;
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 992;
  background-color: #151d95;
  color: #ebebeb;
  transform: translatex(0);
}
.tranparent-close-div {
  position: fixed;
  left: 0%;
  top: 0;
  background-color: #0d6efd;
  width: 250px;
  height: 100vh;
  z-index: 991;
  opacity: 0.6;
  transform: translatex(650%);
}

.side-navbar-contents ul li {
  margin-top: 30px;
}
/***************************************media quary*************************/
.top-section {
  display: flex;
  justify-content: space-between;
}
.outer {
  position: relative;
  margin: auto;
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: -10px;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 0.5px;
  width: inherit;
  background: #fff;
  left: 0;
  transition: all 0.3s ease-in;
  border: 2px solid #fff;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}
/*********************************sidenav end*******************************/

/* Hero section start */
.hero-sec-main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.wave-class {
  height: 800px;
  rotate: 180deg;
  position: absolute;
  left: -500px;
}
.dezian-head {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.dezian-subhead {
  position: absolute;
  top: 42%;
  left: 10%;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.btnhero {
  position: absolute;
  top: 58%;
  left: 10%;
  color: #fff;
  background: #007bfc;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #007bfc;
}
.btnhero:hover {
  border: 1px solid #0d6efd;
  background: #0d1e67;
  transition: all 0.5s ease-in-out;
}
.flot-img-1 {
  position: absolute;
  left: 5%;
  top: 10%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.flot-img-2 {
  position: absolute;
  left: 49%;
  top: 20%;
  animation-name: floating-left-right;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.flot-img-3 {
  position: absolute;
  left: 70%;
  top: 25%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.flot-img-4 {
  position: absolute;
  left: 20%;
  top: 40%;
  animation-name: floating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@keyframes floating-left-right {
  0% {
    transform: translate(15px, 15px);
  }
  50% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(15px, 15px);
  }
}
.right-animation-img img {
  width: 600px;
}
.right-animation-img {
  position: absolute;
  left: 65%;
  top: 20%;
  z-index: 9;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: translateX(-50px);
  transition: 0.8s linear;
}
/* .right-animation-img:hover{

} */
.circit-img img {
  width: 480px;
}
.circit-img {
  position: absolute;
  left: 55%;
  top: 60%;
}
/* Hero section end */
.icon-box-top {
  margin-top: -65px;
  background: transparent;
}
section {
  position: relative;
  z-index: 99;
  background: #ffffff;
  padding: 100px 0;
  display: block;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1200px !important;
}
.iq-icon-box-style-2:hover,
.iq-icon-box-style-2.active {
  border-color: #f2f2f4;
  background: rgb(235, 239, 255);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}
.iq-icon-box-style-2 {
  display: flex;
  padding: 15px;
  border: 1px solid transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.iq-icon-box .icon-box-img {
  margin: 0px 0px 15px 0px;
}
.iq-icon-box-style-2 .icon-box-img img {
  margin-top: 10px;
  width: 274px;
}
.iq-icon-box-style-2 .icon-box-content .icon-box-title {
  margin-bottom: 15px;
}
h5 {
  font-size: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TeXGyreAdventor-Bold", sans-serif;
  color: #142149;
  margin: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 1px;
}
.iq-icon-box-style-2 .icon-box-content .icon-box-title a {
  margin: 0 0 10px;
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
a {
  color: #007bfc;
  outline: none;
}
a,
.button,
input {
  outline: medium none !important;
  color: #0d1e67;
}
a,
.button {
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  color: #59597e;
}
.iq-icon-box-style-2 .icon-box-content .icon-box-desc {
  margin: 0;
}
img.shape-right {
  position: absolute;
  left: 86%;
  top: 5%;
  width: 30%;
}
.iq-title-box {
  margin-bottom: 45px;
}
.iq-title-box.iq-title-box-2 .iq-subtitle {
  color: #007bfc;
  background-color: #f2f5fe;
  padding: 2px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.iq-title-box .iq-subtitle {
  color: #0d1e67;
  display: inline-block;
}
.iq-title-box .iq-title {
  margin-bottom: 0;
  font-size: 2.441em;
  color: #142149;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px;
}
h2 {
  font-size: 2.441em;
}
.iq-title-box .iq-title-desc {
  margin-top: 15px;
  margin-bottom: 0;
  color: #5e7290;
  font-size: 16px;
  margin-right: 60px;
  text-align: justify;
}
p {
  margin-bottom: 30px;
}
.iq-list.iq-two-column {
  columns: 2;
}
.iq-list-with-icon,
.iq-list-with-img,
.iq-list ul {
  padding: 0;
  margin: 0;
}
ol,
ul {
  padding-left: 25px;
  margin-bottom: 1em;
}
ul {
  margin: 0px;
  padding: 0px;
}
.iq-list-with-icon li,
.iq-list-with-img li {
  padding-left: 0;
  list-style: none;
  display: flex;
}
.iq-list li {
  padding-left: 16px;
  margin-bottom: 10px;
  color: #5e7290;
}
ul li {
  list-style: inherit;
}
.social {
  margin-top: 6px;
  margin-right: 7px;
  color: #007bfc;
}
.iq-pb-70 {
  padding-bottom: 70px;
}
.iq-process-step-style-1 .iq-process-step .iq-step-content {
  margin-bottom: 30px;
}
.iq-process-step-style-1 .iq-process-step {
  position: relative;
  margin-bottom: 30px;
  display: block;
  padding: 0 15px;
}
.iq-process-step-style-1 .iq-process-step .iq-step-text-area .iq-step-title {
  margin-bottom: 10px;
  font-size: 1.563em;
  font-weight: 600;
  color: #142149;
  font-family: "Roboto", sans-serif;
}
.iq-step-desc {
  color: #5e7290;
  font-family: "Roboto", sans-serif;
}
h4 {
  font-size: 1.563em;
}
.iq-button,
[type="submit"] {
  z-index: 1;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 45px;
  background: #007bfc;
  color: #ffffff;
  border: none;
}
.iq-button:hover {
  background: #0d1e67;
  transition: all 0.5s ease-in-out;
}

img.shape-left {
  position: absolute;
  right: 88%;
  top: 5%;
  width: 30%;
}
.iq-slider-with-text .slider-nav {
  overflow: hidden;
  margin: 75px 0 60px;
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  padding-left: 25px;
  margin-bottom: 1em;
}
ul {
  margin: 0px;
  padding: 0px;
}
.iq-slider-with-text .slider-nav .slick-arrow.slick-prev {
  left: 25px;
}
.iq-slider-with-text .slider-nav .slick-arrow {
  position: absolute;
  color: #007bfc;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding-top: 14px;
  cursor: pointer;
  font-size: 0;
}
.iq-slider-with-text .slider-nav .slick-arrow {
  -webkit-transform: translateY(-62%);
  -ms-transform: translateY(-62%);
  transform: translateY(-62%);
}
ider-nav .slick-arrow.slick-next:before {
  color: #007bfc;
}
.iq-slider-with-text .slider-nav .slick-arrow.slick-prev::before,
.iq-slider-with-text .slider-nav .slick-arrow.slick-next::before {
  color: #007bfc;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iq-slider-with-text .slider-nav .slick-list {
  overflow: visible;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.iq-slider-with-text .slider-nav li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
  height: 70px;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  outline: none;
  width: 150px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
ul li {
  list-style: inherit;
}
.iq-slider-with-text .slider-nav li img {
  display: block;
  width: auto;
  height: 70px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.iq-slider-with-text .slider-nav .slick-arrow.slick-next {
  right: 25px;
}
.iq-slider-with-text .slider-nav .slick-arrow {
  position: absolute;
  color: #007bfc;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding-top: 14px;
  cursor: pointer;
  font-size: 0;
}
.iq-slider-with-text .slider-nav .slick-arrow {
  -webkit-transform: translateY(-62%);
  -ms-transform: translateY(-62%);
  transform: translateY(-62%);
}
.iq-slider-with-text .slider-nav .slick-arrow.slick-prev:before,
.iq-slider-with-text .slider-nav .slick-arrow.slick-next:before {
  color: #007bfc;
}
.iq-slider-with-text .slider-nav .slick-arrow.slick-prev::before,
.iq-slider-with-text .slider-nav .slick-arrow.slick-next::before {
  color: #007bfc;
}
.slick-next:before {
  content: "→";
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iq-icon-box-style-8 {
  position: relative;
  margin-bottom: 30px;
  padding: 45px 30px;
  border-radius: 5px;
  border: 1px solid #e6e7eb;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
  background: #ffffff;

  border-radius: 6px;
  overflow: hidden;
}
.iq-icon-box .icon-box-img {
  margin: 0px 0px 15px 0px;
}
.icon-box-title {
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.icon-box-desc {
  color: #5e7290;
  font-family: "Roboto", sans-serif;
}
.Cloud:hover {
  border: 1px solid #007bfc;
}
.Cloud1:hover {
  border: 1px solid #f18235;
}
/* .iq-client,
.iq-client ul {
  border-style: none;
  background-color: rgba(2, 1, 1, 0);
}
.iq-client.iq-has-grascale li img,
.iq-client.iq-has-grascale .item img {
  opacity: 0.4;

 
}
.iq-client .owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.iq-client.iq-has-shadow li:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s ease;
}
.iq-client.iq-has-grascale li:hover img,
.iq-client.iq-has-grascale .item:hover img {
  opacity: 1;
  filter: none;
} */
.iq-client,
.iq-client ul {
  border-style: none;
  background-color: rgba(2, 1, 1, 0);
}
.iq-client-grid {
  list-style: none;
  padding: 0;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  margin: 0;
  float: left;
  width: 100%;
}
.iq-client li {
  padding: 15px 0px 15px 0px;
  border-style: none;
  background-color: rgba(113, 100, 100, 0);
}
.iq-client-col-3 li {
  width: 33.33%;
}
.iq-client-grid li {
  display: inline-block;
  /* border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2; */
  padding: 15px;
  text-align: center;
  /* float: left; */
  background: #ffffff;
}
ul li {
  list-style: inherit;
}
.iq-client.iq-has-grascale li img,
.iq-client.iq-has-grascale .item img {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.iq-client.iq-has-shadow li:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.iq-client.iq-has-grascale li img,
.iq-client.iq-has-grascale .item img {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.iq-client.iq-has-grascale li:hover img,
.iq-client.iq-has-grascale .item:hover img {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}
.client-box {
  background-color: #0d1e67;
  padding: 45px;
  border-radius: 6px;
}

.iq-title-white .iq-subtitle,
.iq-title-white .iq-title,
.iq-title-white .iq-title-desc,
.iq-title-box i {
  color: #ffffff;
}
.iq-title-box .iq-subtitle {
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 1.563em !important;
}
.iq-title-box .iq-title-desc {
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 0;
  color: #5e7290;
  font-size: 16px;
  margin-right: 60px;
  text-align: justify;
}
.language {
  font-family: "Roboto", sans-serif;
}
.wpcf7-form input {
  margin-bottom: 30px;
}
.wpcf7-form textarea {
  margin-bottom: 30px;
}
.wpcf7-form input[type="submit"] {
  margin-bottom: 0;
}
input,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="password"],
textarea {
  width: 100%;
  float: left;
  padding: 0 15px;
  height: 51px;
  line-height: 48px;
  border: 1px solid #eeeeee;
  color: #59597e;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  border-radius: 6px;
}
input,
input.form-control,
.form-control {
  width: 100%;
  border: 1px solid #6f6f6f;
  height: 52px;
  padding: 0 20px;
  margin-bottom: 0px;
  border-radius: 0;
  background: transparent;
  color: #ebebeb;
}
a,
.button,
input {
  outline: medium none !important;
  color: #0d1e67;
}

textarea {
  padding: 0 15px;
  height: 150px;
  border-radius: 6px;
}
.overview-block-ptb {
  padding: 100px 0;
}
footer .copyright-footer {
  border-top: 1px solid #59597e;
  color: #ffffff;
  font-size: 14px;
}
footer .social-icone ul {
  padding-left: 0px;
}
footer .social-icone li {
  margin-right: 20px;
}
footer .social-icone li a {
  color: #ffffff;
}
footer .footer-top,
footer .footer-top .widget ul li a,
footer .calendar_wrap caption {
  color: #ffffff;
}
footer .footer-top {
  padding-top: 60px;
}
footer .widget,
footer .widget:last-child {
  margin-bottom: 45px;
}
.widget:last-child {
  margin-bottom: 0;
}
footer .widget {
  background: transparent;
  padding: 0;
}
.widget {
  margin-bottom: 45px;
  padding: 30px;

  border-radius: 6px;
  display: inline-block;
  width: 100%;
  /* float: left; */
  position: relative;
  background: #f2f5fe;
}
footer .footer-top .textwidget p {
  margin-bottom: 0;
}
footer .footer-top .widget .textwidget img {
  width: 71px;
  filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
}
.logo1 {
  font-size: 22px;
  padding-left: 8px;
  font-weight: 500;
}
footer {
  background: #0d1e67;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  clear: both;
  margin-top: 0;
}
.icons:hover {
  color: #007bfc;
  transition: 0.5s;
}
footer .widget .footer-title {
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 600;
}
footer .footer-top .widget ul {
  padding: 0;
  margin: 0;
}
footer .footer-top .widget ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
footer .footer-top .widget ul li a {
  position: relative;
  padding: 7px 0 7px 15px;
  display: inline-flex;
}
footer .footer-top,
footer .footer-top .widget ul li a,
footer .calendar_wrap caption {
  color: #ffffff;
  text-decoration: none;
}
footer .footer-top .widget ul li a:before {
  position: absolute;
  margin-right: 10px;
  content: "\f111";
  color: #007bfc;
  top: 50%;
  margin-top: -6px;
  font-size: 6px;
  left: 0;
  font-family: FontAwesome;
  line-height: 2;
  transition: all 0.5s ease-in-out;
}
footer .widget .menu li a:before,
footer .widget .menu-testing-menu-container .menu ul li a::before,
footer .widget .menu-testing-menu-container .menu li a::before {
  display: block;
  top: 21px;
}
footer .footer-top .widget ul.iq-contact {
  padding-left: 0px;
}
footer .widget .iq-contact li {
  position: relative;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}
footer .footer-top .widget ul.iq-contact li a {
  padding: 7px 0 7px 0px;
}
footer .widget .iq-contact li a {
  display: flex;
  align-items: flex-start;
}
footer .widget .iq-contact li i {
  margin-right: 15px;
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 4px;
  list-style: none !important;
}
footer .widget .iq-contact li span {
  flex: 1;
  text-align: justify;
}
footer .social-icone {
  text-align: left;
}
footer .social-icones {
  text-align: right;
}

footer .footer-top .contact ul li a:before {
  position: absolute;
  margin-right: 10px;
  /* list-style: none !important; */
  content: "";
  color: #007bfc;
  top: 50%;
  margin-top: -6px;
  font-size: 6px;
  left: 0;
  font-family: FontAwesome;
  line-height: 2;
  transition: all 0.5s ease-in-out;
}

.back-to-top {
  z-index: 999;
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 25px;
  background: #007bfc;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
  animation: fade-in 0.3s ease-in-out;
}

.back-to-top.hidden {
  animation: fade-out 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
.anmates {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
/* ******************************Blog start******************************/
.iq-pb-55 {
  padding-bottom: 55px;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.iq-blog-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;
  border: 1px solid #f2f4ff;
  border-radius: 6px;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.iq-blog-box:hover {
  -webkit-box-shadow: 0px 34.659px 15px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 34.659px 15px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 34.659px 15px 0px rgba(0, 0, 0, 0.06);
}
.iq-blog-box .iq-blog-image {
  position: relative;
  text-align: center;
  display: inline-block;
  float: left;
  width: 100%;
}
.iq-blog-box .iq-blog-image img {
  margin-bottom: 30px;
  background: #f2f5fe;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.iq-blog-box .iq-blogtag {
  margin: 0 0 0 20px;
  padding: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: 15px;
  left: 0;
}
.iq-blog-box .iq-blogtag li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
.iq-blog-box .iq-blogtag li a {
  background: #007bfc;
  color: #ffffff;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
}
.owl-carousel .iq-blog-box .iq-blog-detail {
  padding: 0 20px 20px;
  display: inline-block;
  float: left;
  width: 100%;
}
.iq-blog-box .iq-blog-meta {
  margin: 0 0 10px;
  padding: 0;
  line-height: 16px;
}
.iq-blog-box .iq-blog-meta ul.iq-postdate {
  padding: 0;
}
.iq-blog-box .iq-blog-meta ul {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
.iq-blog-box .iq-blog-meta ul li a i,
.iq-blog-box .iq-blog-meta ul li i {
  color: #007bfc;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 0px;
  width: 1px;
  overflow: hidden;
}
.iq-blog-box .iq-blog-meta ul li a {
  text-decoration: none;
}
.iq-blog-box .blog-title {
  margin: 0 0 5px 0;
}
.owl-carousel .iq-blog-box .iq-blog-detail .blog-title h5 {
  font-size: 1.25rem;
}
.iq-blog-box .blog-title a h5 {
  color: #142149;
  text-decoration: none;
}
.owl-carousel .iq-blog-box .iq-blog-detail .blog-title h5 {
  font-size: 1.25rem;
}
.iq-blog-box .blog-title a h5 {
  color: #142149;
  text-decoration: none;
}
/* ***********Blog end***********/
.main-container-for-blog {
  width: 100%;
}
.blog-dezian-heading {
  width: 100%;
  background-color: #0d1e67;
  height: 400px;
}
.blog-dezian-heading h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
}
.main-container-for-sink {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.all-content-info {
  width: 40%;
  /* background-color: aquamarine; */
  margin: 10px;
  margin-top: 20px;
  border: 1px solid #f2f4ff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}
.blog-card-img {
  width: 100%;
}
.all-content-info img {
  width: 100%;
  height: 300px;
  background-color: #f2f5fe;
}
.all-content-info h2 {
  font-size: 30px;
  padding-left: 20px;
  font-weight: 700;
}
.all-content-info p {
  font-size: 1rem;
  overflow: hidden;
  cursor: pointer;
  padding-left: 20px;
}
.author-info {
  height: auto;
  overflow: hidden;
  height: 155px;
}
.blog-short-description p {
  font-size: 15px;
  height: 20px;
  margin-bottom: 10px;
}
.read-more-button a {
  text-decoration: none;
}
/***********Blog-description-page******/
.blog-pp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blog-pp-container {
  width: 100%;
  margin: 5%;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.full-blog-info-img {
  width: 100%;
  text-align: center;
}
.full-blog-info-img img {
  width: 500px;
}
.heading-of-blog {
  text-align: center;
}
.blog-main-content-write {
  text-align: left;
}
/**********Blog Main*********/
.blog-main-container h1 {
  position: absolute;
  top: 30%;
  font-size: 10rem;
}
/* ******************************Blog end******************************/
/* ******************************Breadcam Start******************************/
.main-bg {
  background: #0d1e67;
}
.iq-breadcrumb-one {
  display: block;
  padding: 150px 0 100px;
  z-index: 9;
  position: relative;
  background: #0d1e67;
}
.iq-breadcrumb-two {
  padding: 45px 0;
  position: relative;
  z-index: 2;
}
.iq-breadcrumb .head,
.iq-breadcrumb-one .head {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  font-family: "roboto", sans-serif;
}
.iq-breadcrumb-two .breadcrumb {
  display: inline-block;
}
.iq-breadcrumb-one .breadcrumb {
  position: relative;
  display: inline-block;
}
.iq-breadcrumb-one ol {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-top: 15px;
}
.iq-breadcrumb-two ol li {
  display: inline-block;
}

.iq-breadcrumb-one ol li {
  list-style: none;
  display: inline-block;
}
.breadcrumb li {
  display: inline-block;
  word-break: break-all;
}
.iq-breadcrumb-one ol li a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb-item {
  font-size: 17px;
}
.iq-breadcrumb-one .breadcrumb-item.active,
.iq-breadcrumb-one ol li a:hover {
  color: #ffffff;
  position: relative;
}
.iq-breadcrumb-one .breadcrumb-item + .breadcrumb-item::before {
  content: " || ";
  color: #ffffff;
  font-family: "Ionicons";
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1rem;
}
/* ******************************Breadcam End******************************/
/********************************Career Start******************************/

.main {
  text-align: justify;
}
.heading p {
  font-size: 35px;
  color: #0d1e67;
  font-weight: 900;
  font-family: "roboto", sans-serif;
}
.heading .job-title {
  color: #101010;
  font-size: 18px;
  font-weight: 600;
}
.role-heading p {
  color: #0d1e67;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.role-heading li {
  /* font-weight: 500; */
  color: #787878;
  font-size: 17px;
}
.job-location-heading p {
  color: #0d1e67;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.job-location .job-location-sub-heading {
  font-weight: 500;
  color: #787878;
  font-size: 17px;
}
.probation-period-heading p {
  color: #0d1e67;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.probation-period .cv {
  font-weight: 600;
  color: #101010;
  padding-top: 10px;
  font-size: 17px;
  text-align: center;
}
.probation-period .cv p {
  margin: 10px 0;
}
/********************************Career End********************************/
/********************************Slider Start******************************/
.App {
  width: 50%;
  margin: 10rem auto;
  height: 550px;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(0.7);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #007bfc;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

/********************************Slider End********************************/
/********************************Debops start******************************/
.size {
  padding-top: 60px;
  padding-left: 30px;
  font-size: 17px !important;
  font-weight: 500;
}
.size1 {
  margin-bottom: 25px !important;
}
.devsecops {
  margin-top: 7px;
  margin-right: 7px;
  font-weight: 500 !important;
  color: #0d1e67;
}
/********************************Debops end******************************/
/***************************DataEngineering start************************/
.et_pb_blurb_content {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}
.et_pb_main_blurb_image {
  display: inline-block;
  margin-bottom: 30px;
  line-height: 0;
  max-width: 100%;
}
.et_pb_blurb .et_pb_image_wrap {
  display: block;
  margin: auto;
}
.et_pb_gutters2 .et_pb_column_1_5,
.et_pb_gutters2.et_pb_row .et_pb_column_1_5 {
  width: 17.6%;
}
.et_pb_gutters2 .et_pb_column,
.et_pb_gutters2.et_pb_row .et_pb_column {
  margin-right: 3%;
}
.et-waypoint.et_pb_animation_top.et-animated,
.et_pb_animation_top.et-animated {
  opacity: 1;
  -webkit-animation: fadeTop 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
  animation: fadeTop 1s cubic-bezier(0.77, 0, 0.175, 1) 1;
}
.et-waypoint:not(.et_pb_counters) {
  opacity: 0;
}
.et_pb_main_blurb_image img {
  border-radius: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.et_pb_blurb.et_pb_text_align_left .et_pb_blurb_content .et_pb_blurb_container {
  text-align: left;
}
.et_pb_row.et_pb_equal_columns,
.et_pb_row_inner.et_pb_equal_columns,
.et_pb_section.et_pb_equal_columns > .et_pb_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div span p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}
.et_pb_blurb_3.et_pb_blurb .et_pb_blurb_description,
.et_pb_blurb_4.et_pb_blurb .et_pb_blurb_description,
.et_pb_blurb_2.et_pb_blurb .et_pb_blurb_description,
.et_pb_blurb_1.et_pb_blurb .et_pb_blurb_description,
.et_pb_blurb_0.et_pb_blurb .et_pb_blurb_description {
  text-align: center;
}
.et_pb_blurb_content p:last-of-type {
  padding-bottom: 0;
  font-weight: 500;
  color: #5e7290;
}
/***************************DataEngineering end**************************/
.kub-para {
  text-align: center;
  color: #5e7290;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
}
/***************************compliance start******************************/
.compliance-list {
  padding-left: 0px;
}
.compliance-list li {
  font-size: "17px";
  color: "#7C7C7C";
  font-weight: "500";
}
.author-info .readmore {
  color: "#F18235";
  text-decoration: "none";
  font-size: "15px";
  font-weight: "500";
  padding-left: "18px";
}
/***************************compliance end********************************/
@media (300px <= width <= 450px) {
  .side-navbar-contents {
    display: block;
  }
  .side-nav-main {
    position: relative;
    display: block;
    width: 100%;
  }
  .side-navbar-contents.active {
    display: block;
    position: fixed;
    width: 250px;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 992;
    background-color: #0d1e67;
    color: #fff;
    transform: translatex(0);
    transition: 0.8s ease-out;
  }
  .navbar-container {
    display: none;
  }
  .navbar-container.active {
    display: none;
  }
  .wave-class {
    height: 600px;
    rotate: 1650deg;
  }
  .dezian-head {
    top: 20%;
    font-size: 2.8rem;
  }
  .dezian-subhead {
    font-size: 1rem;
    top: 31%;
    left: 10%;
  }
  .btnhero {
    font-size: 1rem;
    left: 10%;
    top: 40%;
    padding: 5px 10px;
  }
  .circit-img {
    position: absolute;
    left: 20%;
    top: 55%;
  }
  .circit-img img {
    width: 350px;
  }
  .right-animation-img {
    left: 38%;
    top: 39%;
  }
  .right-animation-img img {
    width: 340px !important;
  }
  .iq-title {
    text-align: center;
    font-size: 1.8em !important;
  }
  .iq-title-box .iq-title-desc {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
    color: #5e7290;
    font-size: 16px;
    margin: 15px;
    text-align: justify;
  }
  /* .img-fluid {
    margin-left: 45%;
  } */
  .iq-step-text-area {
    text-align: center !important;
  }
  /* .iq-process-step-style-1 .iq-process-step{
  
} */
  section {
    padding: 70px 0;
  }
  /* .iq-subtitle{
  margin-left: 35%;
} */
  .iq-button,
  [type="submit"] {
    margin-left: 25%;
  }

  .quold-img {
    margin-left: 10px !important;
  }
  .icon-box-images {
    margin-left: 10% !important;
  }
  .feature-service-img {
    margin-left: 10% !important;
  }
  .client-img-class {
    margin-left: 10% !important;
  }
  .contact-flot-img {
    margin-left: 15% !important;
    margin-bottom: 50px !important;
    width: 300px;
  }
  .contact-submit-btn {
    margin-left: 25% !important;
    width: 200px;
  }
  .iq-title-desc {
    text-align: center !important;
  }
  .footer-icon-mb {
    margin-left: 20% !important;
  }
  .textwidget {
    text-align: center !important;
  }
  .for-mobile-display-none {
    display: none;
  }
  .menu {
    padding-left: 2% !important;
  }
  .our-client-span {
    margin-left: 35%;
  }
  .contact-get-in-touch {
    margin-left: 30%;
  }
  .language-get-in-touch {
    margin-left: 35%;
  }
  .about-get-in-touch {
    margin-left: 35%;
  }
  .process-get-in-touch {
    margin-left: 35%;
  }
  footer .social-icone ul {
    text-align: center;
  }
  img.shape-left {
    display: none;
  }
  footer .widget,
  footer .widget:last-child {
    margin-bottom: 10px;
  }
  .footer-title {
    text-align: center;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 2% !important;
  }
  .menu li {
    width: 50% !important;
    padding-left: 30px;
  }
  footer .footer-top .widget ul.iq-contact {
    text-align: center;
  }
  .back-to-top {
    bottom: 62px;
    right: 14px;
  }
  .iq-breadcrumb-one {
    padding: 100px 0 100px;
  }
  li a {
    text-decoration: none;
    color: #fff;
  }
  .tranparent-close-div.active {
    transform: translatex(0%);
    transition: 1s ease-out;
  }
  .size {
    padding-left: 0px;
  }
  .iq-breadcrumb .head,
  .iq-breadcrumb-one .head {
    font-size: 44px;
  }
  .author-info {
    text-align: center;
  }
  .all-content-info p {
    font-size: 12px;
    padding-left: 0;
    height: 33px;
  }
  .author-info-heading h2 {
    font-size: 15px;
    padding-left: 0px;
  }
  .blog-short-description p {
    font-size: 10px;
    padding-left: 0px;
  }
  .et_pb_row.et_pb_equal_columns,
  .et_pb_row_inner.et_pb_equal_columns,
  .et_pb_section.et_pb_equal_columns > .et_pb_row {
    display: block;
  }
  .et_pb_gutters2 .et_pb_column,
  .et_pb_gutters2.et_pb_row .et_pb_column {
    width: 100%;
  }
  .et-waypoint.et_pb_animation_top.et-animated,
  .et_pb_animation_top.et-animated {
    width: 200px !important;
  }
  .data-img-main {
    margin-left: 30px !important;
  }
  .iq-pb-70 {
    padding-bottom: 30px;
  }
  .et_pb_blurb_3.et_pb_blurb .et_pb_blurb_description,
  .et_pb_blurb_4.et_pb_blurb .et_pb_blurb_description,
  .et_pb_blurb_2.et_pb_blurb .et_pb_blurb_description,
  .et_pb_blurb_1.et_pb_blurb .et_pb_blurb_description,
  .et_pb_blurb_0.et_pb_blurb .et_pb_blurb_description {
    text-align: center;
  }
  .fff {
    padding: 0px 15px 0px 0px;
  }
  footer .social-icones {
    text-align: center;
  }
}
